@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-left: none;
}
.main-container {
  margin-left: 250px !important;
  margin-right: auto;
}
h1, h2, h3 {
  font-weight: bold;
}
h1.title {
  padding-top: 50px;
}
table {
  white-space: nowrap;
}