@font-face {
  font-family: Goldeneye
  src: url(007Goldeneye.ttf)
}
body {
  font-family: Goldeneye;
  font-size: 16px;
  margin-left: none;
}
.main-container {
  margin-left: 250px !important;
  margin-right: auto;
}