@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-left: none;
}
.main-container {
  margin-left: 250px !important;
  margin-right: auto;
  margin-bottom: 250px;
}
h1, h2, h3 {
  padding-top: 20px;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 26px;
}
h1.title {
  padding-top: 50px;
  padding-bottom: 20px;
}
p {
  line-height: 150%;
}
table {
  white-space: nowrap;
  padding-top: 30px;
  padding-bottom: 20px;
}
tr.even {
  background-color: #ddd;
}
th:last-child, td:last-child {
  background-color: #800;
  color: white;
}
img {
  padding-top: 20px;
  padding-bottom: 20px;
}